@font-face {
    font-family: barlow-regular;
    font-weight: 400;
    src: url("fonts/barlow-regular.otf") format('opentype');
}

@font-face {
    font-family: barlow-bold;
    font-weight: 400;
    src: url("fonts/barlow-bold.otf") format('opentype');
}

body{
    margin: 100px;
    background-color: #EFF6FF;
    font-family: barlow-regular;

}

main{
    margin-top: -32px;
}

.mainWindow{
    margin: auto 72px;
}

.noticeHeader{
    color: #737171;
    display: block;
    position: relative;
    bottom: 16px;
    font-size: 20px;

}

.Facebook_button{
    display: inline-block;
    background-color: #255A9B;
    color: white;
    border: none;
    height: 40px;
    width: 250px;
    text-align: center;
}

.Linkedin_button{
    display: inline-block;
    background-color: #0076B6;
    color: white;
    border: none;
    height: 40px;
    width: 250px;
    text-align: center;
    margin-left: 20px;
}

.buttons img{
    float: left;
}

.radioButtonGroup input:checked{
    background: #fff;
}

.line {
    display: flex;
    flex-direction: row;
    width: 286px;
    margin-left: 112px;
    margin-top: 25px;
}

.line:before,
.line:after {
    content: "";
    flex: 1 1;
    border-bottom: 1.5px solid #e4e4e4;
    margin: auto;
}

.centerText{
    margin: 4px;
    text-align: center;
}

.textArea input{
    width: 50px;
    height: 50px;
}

.background {
    background-image: url("img/bg.jpg");
    width: 600px;
    height: 700px;
    float: left;
}
.logo {
    margin: -80px 55px;
}

.textBlocks{
    margin-top: 25px;
}

.right-block {
    float: left;
    padding: 40px;
    color: #2A4A5C;
    background-color: white;
    height: 620px;

}



.fullInputLeft{
    display: inline-block;
    border: 2px solid #c8c8c8;
    padding: 3px;
    width: 238px;
    height: 38px;
    border-left-color: #3698FB;
}

.fullInputRight{
    display: inline-block;
    border: 2px solid #c8c8c8;
    padding: 3px;
    width: 238px;
    height: 38px;
    margin-left: 20px;
}

.textBlocks input{
    border: none;
    outline: none;
    display: block;
}

.textBlocks label{
    font-size: 15px;
    color: #737171;
}

h2 {
    margin-top: 25px;
}

.secondHeader .noticeHeader{
    font-size: 15px;
}

.radioButtonGroup{
    margin-top: 25px;
}

.infoPlace{
    margin-top: 25px;
    display: inline-block;
    padding: 15px 15px;
    box-shadow: 0px 0px 15px 1px #cbcbcb;
    color: #9f9e9e;
}
.terms{
    margin-top: 25px;
    font-size: 13px;
    color: #9f9e9e;
}

.createAccount{
    margin-top: 25px;
    width: 238px;
    height: 38px;
    background-color: #3698FB;
    border-radius: 5px;
    text-align: center;
    color: white;
}

.createAccount p{
    padding: 8px 0px;
}